.popup-message-box {
	justify-content: center;
	align-items: center;
	max-height: 15vh;
	z-index: 10;
	opacity: 0.8;
	padding: 1rem 0;
	border-radius: 3px;
	color: white;
	font-size: 1.1rem;
	width: 100%;
	text-align: center;
	top: 0;
}

.popup-message-close {
	font-size: 2.5rem;
	top: 15%;
	right: 0.5rem;
	color: white;
}

.popup-message-close:hover {
	cursor: pointer;
	color: rgba(255, 255, 255, 0.74);
}

.popup-message {
	display: inline-block;
	width: 80%;
}

.error {
	height: 15vh;
	background-color: #e7596c;
	animation: fadeIn 0.3s;
}

.success {
	height: 13vh;
	background-color: green;
	animation: fadeIn 0.3s;
}

.fade-out {
	padding: 0;
	animation: fadeOut 0.5s;
}

@media screen and (min-width: 320px) {
	.popup-message-box {
		font-size: 1.4rem;
	}

	.popup-message-close {
		top: 25%;
	}
}

@media screen and (min-width: 360px) {
	.popup-message-box {
		font-size: 1.6rem;
	}
}

@media screen and (min-width: 480px) {
	.popup-message-box {
		font-size: 1.7rem;
	}
	.popup-message-close {
		right: 1rem;
	}
}

@media screen and (min-width: 520px) {
}

@media screen and (min-width: 600px) {
	.popup-message-box {
		width: 90%;
	}
}

@media screen and (min-width: 720px) {
	.popup-message-box {
		margin-bottom: auto;
		width: 80%;
	}
}

@media screen and (min-width: 800px) {
	.popup-message-box {
		width: 75%;
	}
}

@media screen and (min-width: 1024px) {
	.popup-message-box {
		width: 68rem;
	}
}

@media screen and (min-width: 1280px) {
	.popup-message-box {
		width: 66rem;
	}
}

@media screen and (min-width: 1366px) {
	.popup-message-box {
		width: 64rem;
	}
}

@keyframes fadeIn {
	from {
		max-height: 0.00001px;
		opacity: 0;
	}
	to {
		max-height: 15vh;
		opacity: 0.8;
	}
}

@keyframes fadeOut {
	from {
		opacity: 0.8;
		max-height: 15vh;
	}
	to {
		opacity: 0;
		max-height: 0.00001px;
	}
}
