.active-users-list {
	display: flex;
	position: relative;
	overflow-y: auto;
	flex-direction: column;
	align-items: center;
	background-color: #1c1b1b;
	flex-grow: 1;
	padding: 3rem 0.7rem;
}

.active-users-list .loader {
	position: absolute;
	top: 25%;
	border: 0.7rem solid rgb(241, 238, 238);
	border-top: 0.7rem solid #1d77cd;
	width: 2.8rem;
	height: 2.8rem;
	-webkit-animation: spin 0.7s linear infinite;
	animation: spin 0.7s linear infinite;
}

@media screen and (min-width: 320px) {
	.active-users-list .loader {
		border: 0.7rem solid rgb(241, 238, 238);
		border-top: 0.7rem solid #1d77cd;
		width: 3rem;
		height: 3rem;
	}
}

@media screen and (min-width: 360px) {
	.active-users-list .loader {
		border: 0.8rem solid rgb(241, 238, 238);
		border-top: 0.8rem solid #1d77cd;
		width: 3.2rem;
		height: 3.2rem;
	}
}

@media screen and (min-width: 480px) {
	.active-users-list {
		padding: 3rem 2.5rem;
	}

	.active-users-list .loader {
		border: 0.8rem solid rgb(241, 238, 238);
		border-top: 0.8rem solid #1d77cd;
		width: 3.4rem;
		height: 3.4rem;
	}
}

@media screen and (min-width: 520px) {
	.active-users-list {
		padding: 3rem 3rem;
	}

	.active-users-list .loader {
		border: 0.9rem solid rgb(241, 238, 238);
		border-top: 0.9rem solid #1d77cd;
		width: 3.5rem;
		height: 3.5rem;
	}
}

@media screen and (min-width: 600px) {
	.active-users-list {
		padding: 3rem 3.5rem;
	}

	.active-users-list .loader {
		border: 1rem solid rgb(241, 238, 238);
		border-top: 1rem solid #1d77cd;
		width: 3.6rem;
		height: 3.6rem;
	}
}

@media screen and (min-width: 720px) {
	.active-users-list {
		padding: 3rem 4rem;
	}

	.active-users-list .loader {
		border: 1rem solid rgb(241, 238, 238);
		border-top: 1rem solid #1d77cd;
		width: 3.7rem;
		height: 3.7rem;
	}
}

@media screen and (min-width: 800px) {
	.active-users-list {
		padding: 3rem 4.5rem;
	}

	.active-users-list .loader {
		border: 1.1rem solid rgb(241, 238, 238);
		border-top: 1.1rem solid #1d77cd;
		width: 3.8rem;
		height: 3.8rem;
	}
}

@media screen and (min-width: 1024px) {
	.active-users-list .loader {
		border: 1.1rem solid rgb(241, 238, 238);
		border-top: 1.1rem solid #1d77cd;
		width: 4rem;
		height: 4rem;
	}
}

@media screen and (min-width: 1280px) {
	.active-users-list .loader {
		border: 1.1rem solid rgb(241, 238, 238);
		border-top: 1.1rem solid #1d77cd;
		width: 4.3rem;
		height: 4.3rem;
	}
}

@media screen and (min-width: 1366px) {
	.active-users-list .loader {
		border: 1.2rem solid rgb(241, 238, 238);
		border-top: 1.2rem solid #1d77cd;
		width: 4.5rem;
		height: 4.5rem;
	}
}
